.Slideshow {
  position: relative; 
  padding: 50px 50px 10px 50px;
}
  
.SlideshowImage {
  border-radius: 10px;
  width: 100%;
  height: 80vmin;
  object-fit: cover;
}
.IconLeft {
  position: absolute;
  // transform: rotate(270deg);
  width: 150px;
  top: 50%; 
  left: 2%;
  // transform: translateY(-50%) rotate(270deg);
}
  
.IconRight {
  position: absolute;
  // transform: rotate(90deg);
  width: 150px;
  top: 50%; 
  right: 2%;
  // transform: translateY(-50%) rotate(90deg); 
}
@media screen and (max-width: 768px) {
  .Slideshow {
    padding: 30px 20px 0px 20px;
  }
  
  .IconLeft {
    width: 50px;
  }
    
  .IconRight {
    width: 50px;
  }
}
