.BannerAbout {
    padding: 40px 40px 10px 40px;
}
.BannerAboutImage {
    border-radius: 20px;
    width: 100%;
    height: 40vmin;
    object-fit: cover;
    filter: brightness(0.7);
}
.collapseContainer {
    margin: 0px 40px;
}

@media screen and (max-width: 768px) {
    .BannerAbout {
        padding: 15px 15px 0px 15px;
    }
    .BannerAboutImage {
        border-radius: 10px;
        height: 30vmin;
    }
}
  
  