button{
    width: 78%;
    height: 100%;
    background-color:  #FF6060;
    border: none;
    padding: 15px 20px 10px 20px;
    border-radius: 5px;
    text-align: left;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.Collapse{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    width: 100%;;
}
.Rotate{
    transform: rotate(180deg);
    margin-left: auto; 
    transition: transform 0.3s ease;
    cursor: pointer; 
}
.CollapseText{
    display: flex;
    align-items: center; 
    background-color: #f5f3f3;  
    padding: 5px 20px 5px 20px;
    border-radius: 0px 0px 5px 5px;
    margin-left: 90px;
    margin-right: 90px;
    width: 75%;
    color: #FF6060;
    font-size: large;
    line-height: 1.5;
    margin-bottom: 30px;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    button{
        width: 90%;
        padding: 10px 10px 10px 10px;
    }
    .CollapseText{
        width: 79%;
    }
}
  

  
