.App {
  text-align: center;
}
.AppHeader {
  background-color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 40px;
  padding-left: 60px;
  justify-content: space-between;
}
.AppLogo {
  height: 10vmin;
  width: 30vmin;
  position: 'absolute';
}

.AppMenu{
  align-items: right;
  justify-content: right;
  color: #FF6060;
  margin-right: 50px;
  text-decoration: none;
}
.AppMenu:focus{
  text-decoration-color: #FF6060;
  text-decoration: underline; 
}

@media screen and (max-width: 768px) {

  .AppHeader {
    padding-top: 15px;
    padding-left: 30px;
  }
  .AppMenu{
    margin-right: 20px;
  }
  
}