.Footer{
   background-color: black; 
   text-align: center;
   align-items: center;
   color: white;
   left: 0;
   bottom: 0;
   width: 100%;
   position: fixed;
}
.FooterLogo{
   height: 5vmin;
   padding-top: 45px;
   padding-bottom: 15px;
}
.FooterText{
    padding-bottom: 20px;
    margin: 0;
}
